.footer-summary p {
    color: #FCFFE7;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.footer-summary hr {
    border: #FCFFE7 dashed 3px;
}

.footer-summary h3 {
    color: #FCFFE7;
    margin: 1%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.footer-summary-node {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.footer-summary-node-left {
    text-align: left;
}
.footer-summary-node-right {
    text-align: right;
}

.footer-summary {

    margin: 0 10%;
    padding: 1%;

}

.number {
    color: #FF0252;
    font-weight: bold;

}
.name-text {
    color: #FCFFE7;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
}