.footer-summary p {
    color: #FCFFE7;
    /* margin: 1%; */
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.footer-summary hr {
    border: #FCFFE7 dashed 3px;
}

.footer-summary h3 {
    color: #FCFFE7;
    margin: 1%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.footer-summary-node {
    display: flex;
    justify-content: space-between;
    /* background-color: #2B3467; */
    /* border-radius: 10px; */
    /* display: flex; */
    /* margin: 1% 10%; */
    padding: 0;
    /* height: 75vh; */
}
.footer-summary-node-left {
    text-align: left;
}
.footer-summary-node-right {
    text-align: right;
}

.footer-summary {
    /* background-color: #2B3467; */
    /* border-radius: 10px; */
    /* display: flex; */
    margin: 0 10%;
    padding: 1%;
    /* align-content: center; */
    /* text-align: center; */
    /* height: 75vh; */
}

.number {
    color: #FF0252;
    font-weight: bold;

}
.name-text {
    color: #FCFFE7;
    /* margin: 1%; */
    font-size: 1.25rem;
    font-weight: normal;
    margin: 0;
}