.project-description p {
    color: rgb(43, 52, 103);
    margin: 1% 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
}

.number-of-res{
    color: #2B3467;
    margin: 1% 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: right;
}

.project-description-top-text p{
    text-align: center;
}
.project-description hr {
    border: #2B3467 dashed 3px;
}

.project-description h2 {
    color: #2B3467;
    margin: 1%;
    font-size: 2rem;
    font-weight: bold;
}

.project-description-node {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1% 0;
    padding: 1% 0;
}


.project-description {

    margin: 1% 10%;
    padding: 1%;
    align-content: center;
    text-align: center;
}

.number {
    color: #FF0252;
    font-weight: bold;
    font-size: 2rem;
}

.description-highlight {
    color: #FF0252;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}

.big-number {
    color: #FF0252;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 0px  ;
}

.right-img {
    width: 8vw;
    transition: width 0.4s;
}
.right-img:hover{
    width: 8.5vw;
}

.age-img{
    width: 20vw;
    transition: width 0.4s;
}

.age-img:hover{
    width: 21vw;
}

.arrow-img{
    width: 2vw;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

.project-description-node-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1% 0;
    padding: 1% 0;   
}
