@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/mont');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
* {
  box-sizing: border-box;
}

html {
  /* font-family: 'Noto Sans JP', sans-serif, 'Alfa Slab One'; */
  /* font-family: 'Anton'; */
  /* font-family: 'Alfa Slab One'; */
  /* font-family: 'Teko', sans-serif; */
  /*font-family: 'Righteous', cursive; */
  font-family: 'Istok Web', sans-serif;
  /* letter-spacing: 0.1em; */
  font-size: larger;
}

h1{
  letter-spacing: 0.0em;
}
h2{
  letter-spacing: 0.00em;
}
h2{
  letter-spacing: 0.00em;
}
body {
  margin: 0;
  background-color: #EDEEEE;
}

